body{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    background-color: #00022e;
    background-image: url("https://transparenttextures.com/patterns/45-degree-fabric-light.png");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
    font-size: 16px;
}

main{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

main img{
    width: 30rem;
    height: auto;
}



header{
    margin: auto;
    text-align: center;
    color:#adc5f8;
    margin-top: 0.3rem;
    
}



#ClickAqui{
    color:#2b6eff;
    font-weight: 500;
    transition: 1s;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ClickAqui:hover{
    color: #fff;
    text-decoration: underline;
}

button{
    cursor: pointer;
    border-radius: 1.3rem;
    background-color: #040a81;
    color: white;
    padding: 1rem;
    width: 13.8rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    border: none;
    border: black solid;
    transition-duration: 1s;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button:hover{
    transform: scale(1.0);
    margin-top: 1rem;
    background-color: #6193fd;
    
}


label{
    color: #545cf5;
    margin-left: 1.5rem;
    font-weight: 700;
   
}
input{
    text-indent: 1.5rem;
    box-shadow: 1px 1px 1px 1px black;
}





i{
    position: absolute;
    top: 1.4rem;
    left: 0.7rem;
    display: block;
    color: #00022e;
}


