body{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    background-color: #00022e;
    background-image: url("https://transparenttextures.com/patterns/45-degree-fabric-light.png");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
    font-size: 16px;
}


header{
    text-align: center;
    color:#adc5f8;
    margin-top: 2rem;
}

a{
    color:#2b6eff;
    font-weight: 500;
    transition: 1s;
}

a:hover{
    color: #fff;
    text-decoration: underline;
}

button{
    cursor: pointer;
    border-radius: 1.3rem;
    background-color: #040a81;
    color: white;
    padding: 1rem;
    width: 13.8rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    border: none;
    border: black solid;
    transition-duration: 1s;
    margin-top: 0.5rem;
}

button:hover{
    transform: scale(1.0);
    margin-top: 1rem;
    background-color: #6193fd;
    
}




form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



label{
    color: #545cf5;
    margin-left: 1.5rem;
    font-weight: 700;
   
}
input{
    text-indent: 1.5rem;
}



main{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    text-align: center;
}

main img{
    width: 29rem;
    height: auto;
    margin: auto;
    margin-right: 2rem;

    
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

i{
    position: absolute;
    top: 1.4rem;
    left: 0.7rem;
    display: block;
    color: #00022e;
}


@media(max-width:900px){
    main img{
        
        width: 25rem;
        height: auto;
        margin: auto;
        
    }
    
}
@media(max-width:657px){
    main img{
        
        width: 18.8rem;
        height: auto;
        margin: auto;
        
    }
    
}
@media(max-width:522px){
    main img{
        
        width: 13.4rem;
        height: auto;
        margin: auto;
        margin-top: 2rem;
        
        
    }
    main{
        display: flex;
        flex-direction: column;
        text-align: center
    }
    form{
        margin-top: 2rem;
    }
    
}
@media(max-width:405px){
    main img{
        width: 18.4rem;
        height: auto;
        margin-top: 5rem;
        
        
    }
    
    
}

