body{
    background-color: #00022e;
    background-image: url("https://transparenttextures.com/patterns/45-degree-fabric-light.png");
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


html{
    font-size: 16px;
}

header{
    text-align: center;
    color: white;
    margin-top: 30px;
    
}

#LinkInscrição{
    color: rgb(224, 124, 124);
    font-weight: 500;
}

#LinkInscrição:hover{
    color: rgb(247, 58, 58);
    text-decoration: underline;
    
}

main img{
    
    width: 600px;
    height: auto;
    margin: auto;
    
}


main{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    
}

label{
    color: red;
}

#Cadastrar{
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background-color: rgb(167, 69, 69);
    padding: 15px;
    width: 220px;
    box-shadow: 2px 2px 1px 1px black;
    border: none;
    border: black solid;
    transition-duration: 1s;
}



#Cadastrar:hover{
    background-color: rgb(211, 130, 130);
    transform: scale(1.0);
    
}

input{
    border:solid rgb(2, 2, 110);
    box-shadow: 1px 1px 1px 1px black;
    
}


#div-password{
    display: flex;
    flex-direction: column;
}

#labor{
    color: white;
}


i{
    color: white;
    margin-top: 2px;
}

i:hover{
    color:rgb(211, 130, 130) ;
    cursor: pointer;
    
}

#CapsLockMessage{
    color: red;
    display: none;
}

#MessageError{
    text-align: center;
    display: none;
}


@media(max-width:900px){
    main img{
        width: 25rem;
        height: auto;
        margin: auto;
        
    }
    
}
@media(max-width:657px){
    main img{
        width: 18.8rem;
        height: auto;
        margin: auto;
        
    }
    
}
@media(max-width:522px){
    main img{
        width: 13.4rem;
        height: auto;
        margin: auto;
        
    }
    
}
@media(max-width:405px){
    main img{
        width: 18.4rem;
        height: auto;
        margin-top: 80px;
        
        
    }
    main{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        
    }
    i{
        align-self: flex-start;
    }
    
    #Cadastrar{
        margin-bottom: 5rem;
    }
    
    
}