body{
    background-color: #00022e;
    background-image: url("https://transparenttextures.com/patterns/45-degree-fabric-light.png");
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


html{
    font-size: 16px;
}

header{
    text-align: center;
    color:#adc5f8;
    margin-top: 1.9rem;
    
}

a{
    color:#2b6eff;
    font-weight: 500;
    transition: 1s;
}

a:hover{
    color: #fff;
    text-decoration: underline;
    
}

main img{
    width: 38rem;
    height: auto;
    margin: auto;
    
}


main{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.3rem;
    gap: 1.3rem;
    
}

label{
    color: #545cf5;
    margin-left: 1.5rem;
    font-weight: 700;
}

#Cadastrar{
    cursor: pointer;
    border-radius: 1.3rem;
    background-color: #040a81;
    color: white;
    padding: 1rem;
    width: 13.8rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    border: none;
    border: black solid;
    transition-duration: 1s;
    margin-top: 0.5rem;
    
}



#Cadastrar:hover{
    transform: scale(1.0);
    background-color: #6193fd;
    
}

input{
    box-shadow: 1px 1px 1px 1px black;
    text-indent: 1.5rem;
    
}


#div-password{
    display: flex;
    flex-direction: column;
}

#labor{
    color: white;
    display: block;
    
    
}


#eye{
    position: absolute;
    top: 1.3rem;
    right: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    color: #013bb6;
}

#eye:hover{
    transform: scale(1.1);
    
}

.iconeLeft{
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
    color: #013bb6;
}

#Checkbox{
    display: flex;
    margin-right: 8.6rem;
    
}

#Check1{
    cursor: pointer;
}



#CapsLockMessage{
color: #6193fd;
display: none;
}

#MessageError{
    text-align: center;
    display: none;
    
}


@media(max-width:900px){
    main img{
        width: 25rem;
        height: auto;
        margin: auto;
        
    }
    
}
@media(max-width:657px){
    main img{
        width: 18.8rem;
        height: auto;
        margin: auto;
        
    }
    
}
@media(max-width:522px){
    main img{
        width: 13.4rem;
        height: auto;
        margin: auto;
        
    }
    
}
@media(max-width:405px){
    main img{
        width: 18.4rem;
        height: auto;
        margin-top: 80px;
        
        
    }
    main{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        
    }
    i{
        align-self: flex-start;
    }
    
    #Cadastrar{
        margin-bottom: 5rem;
    }
    
    
}